.intro-banner {
  background-image: url("/img/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-header {
  background-image: url("/img/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ded7c7;
}
.intro-swiper {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 570px;
    height: 450px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .swiper-button-prev {
    position: absolute;
    top: 90%;
    left: 44%;
    width: 50px;
    height: 50px;
    background-image: url("/img/Arow-left.svg");
    border-radius: 50%;
  }
  .swiper-button-next {
    position: absolute;
    top: 90%;
    right: 44%;
    width: 50px;
    height: 50px;
    background-image: url("/img/Arow-right.svg");
    border-radius: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .intro-mobile {
    flex-direction: column;
    gap: 10px;
  }
  .intro-header {
    padding: 0 20px;
    h3 {
      font-weight: 300;
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
  .intro-swiper {
    padding: 0;
    .swiper-slide {
      height: 210px;
      width: 100%;
    }
    .swiper-button-next {
      top: 80%;
      right: 30%;
    }
    .swiper-button-prev {
      top: 80%;
      left: 30%;
    }
  }
}
