.footer-bg {
  background-image: url("/img/Footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: -65px 0;
}
@media only screen and (max-width: 640px) {
  .footer-bg {
    background-image: url("/img/footer-mobile.png");
  }
}
