@media only screen and (max-width: 640px) {
  .lakebg {
    .lake__bd__bottom {
      height: 75px;
    }
    .lakevilla {
      padding: 0 20px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      bottom: 40%;
    }
  }
  .lake__flex {
    flex-direction: column;
  }
  .lake__bd__bottom {
    height: 75px;
  }
}
